
.nav{display: flex;
    justify-content: space-between;
    }
    
    img{
        height: 70px;
        width: 150px;
        
        margin-left:150px ;
    }
    
    .buttons{
        display: flex;
       justify-content: space-between;
        margin-top: 5px;
        margin-right: 120px;
        border: 0px;
         /* box-shadow: 10px 15px 20px blue;  */
    
        border-radius: 15px;
        padding: 10px 10px;
    }
    
    #bb{
        margin-right: 25px;
        background-color: aliceblue;
        border: 0px;
        justify-content: space-between;
    }
    #bb2{
         margin-right: 25px; 
        background-color: aliceblue;
        border: 0px;
        justify-content: space-between;
    }
    #bb3{
        justify-content: space-between;
        border: 0px;
        background-color: aliceblue;
        margin-right: 25px;
    }
    #bb4{
        margin-right: 25px;
        background-color: aliceblue;
        border: 0px;
        justify-content: space-between;
    }
    #bb5{
        margin-right: 25px;
        background-color: aliceblue;
        border: 0px;
        justify-content: space-between;
    }
    .head{
        text-align: center;
        margin-top: 80px;
        font-style: calc();
        font-size: 15px;
        margin-bottom: 150px;
        line-height: 45px;
    }
    .para{
        display: inline-flex;
        margin-left: 250px;
        font-size: larger;
        line-height: 30px;
        text-align: center;
    }
    .para2{
        margin-left: 40px;
    }
    .nithin{
        display: block;
        display: inline-flex;
        margin-left: 200px;
        margin-top: 150px;
    }
    #niimg{
        border-radius: 100%;
        height: 250px;
        width: 250px;
    }
    .people{
        margin-left: 100px;
    }
    #people{
        margin-top: 0px;
    }
    .theory{
        line-height: 30px;
        font-size: larger;
        margin-bottom: 150px;
    }
.name{
    
    margin-left: 210px;
}
#ceo{
    margin-left: 10px;
}
.add{
    display: inline-flex;
    text-align: center;
      
 }
 #add{
    background-color: beige;
 }
 #add1{
    margin-left: 160px;
 }
 #img1{
    margin-top: 30px;
    width: 150px;
    height: 60px;
    
 }
 #num{
    margin-left: 200px;
    margin-top: -10px;
 }
 .num{
    font-size: 25px;
 }