.nav{display: flex;
    justify-content: space-between;
    }
    
    img{
        height: 70px;
        width: 150px;
        
        margin-left:150px ;
    }
    
    .buttons{
        display: flex;
       justify-content: space-between;
        margin-top: 5px;
        margin-right: 0px;
        border: 0px;
         /* box-shadow: 10px 15px 20px blue;  */
    
        border-radius: 15px;
        padding: 10px 10px;
    }
    
    #bb{
        margin-right: 25px;
        background-color: aliceblue;
        border: 0px;
        justify-content: space-between;
    }
    #bb2{
         margin-right: 25px; 
        background-color: aliceblue;
        border: 0px;
        justify-content: space-between;
    }
    #bb3{
        justify-content: space-between;
        border: 0px;
        background-color: aliceblue;
        margin-right: 25px;
    }
    #bb4{
        margin-right: 25px;
        background-color: aliceblue;
        border: 0px;
        justify-content: space-between;
    }
    #bb5{
        margin-right: 25px;
        background-color: aliceblue;
        border: 0px;
        justify-content: space-between;
    }
    .title{
        text-align: center;
        margin-top: 100px;
        font-style: calc();
    }
    .zero{
        margin-top: 40px;
        margin-left: 50px;
        /* text-align: center; */
        
    }
    .rupee{
        font-size: 100px;
        color: orange;
        display: inline;
        font-style: calc();
    }
    .bottom{
        text-align: center;
        line-height: 50px;
        margin-top: 50px;
        margin-bottom: 150px
    }
    #but
    {
        width: 150px;
        height: 40px;
        background-color: rgb(107, 107, 230);
        border: 3px;
        padding: 3px;
        border-radius: 5px;
    }
    #but:hover{
        color: aquamarine;
    }
    .open{
        font-size: xx-large;
    }
    .modern{
        font-size: larger;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .twenty{
        text-align: center;
        height: 500px;
        width: 500px;
    }
    
    .contents{
        display: inline-flex;
        width: 100%;
        text-align: center;
         margin-left: 190px;
       /* margin-right: 100px; */
    }
    .add{
        display: inline-flex;
        text-align: center;
        
     }
     #add1{
        margin-left: 160px;
     }
     #img1{
        margin-top: 30px;
        width: 150px;
        height: 60px;
        
     }
     #num{
        margin-left: 200px;
        margin-top: -10px;
     }
     #add{
        background-color: beige;
     }
     #sym{
        color: orange;
     }
     
.bro{
    margin-left: 180px;
}
#bro{
    margin-left: 150px;
    font-size: 23px;
    color: rgb(126, 126, 236);
    margin-bottom: 40px;
}
.li{
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 80px;
}