.nav{display: flex;
    justify-content: space-between;
    }
    
    img{
        height: 70px;
        width: 150px;
        
        margin-left:150px ;
    }
    
    .buttons{
        display: flex;
       justify-content: space-between;
        margin-top: 5px;
        margin-right: 120px;
        border: 0px;
         /* box-shadow: 10px 15px 20px blue;  */
    
        border-radius: 15px;
        padding: 10px 10px;
    }
    
    #bb{
        margin-right: 25px;
        background-color: aliceblue;
        border: 0px;
        justify-content: space-between;
    }
    #bb2{
         margin-right: 25px; 
        background-color: aliceblue;
        border: 0px;
        justify-content: space-between;
    }
    #bb3{
        justify-content: space-between;
        border: 0px;
        background-color: aliceblue;
        margin-right: 25px;
    }
    #bb4{
        margin-right: 25px;
        background-color: aliceblue;
        border: 0px;
        justify-content: space-between;
    }
    #bb5{
        margin-right: 25px;
        background-color: aliceblue;
        border: 0px;
        justify-content: space-between;
    }
    
.head{
    text-align: center;    
}
#tech{
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 4px;
    font-style: calc();
}
#sleek{
    font-size: 25px;
    font-style: calc();
}
#check{
    font-size: 20px;
}
.first{
    display: inline-flex;
    margin-top: 150px;
}
.img2{
    margin-top: 150px;
    display: inline-flex;
    margin-left: 150px;
}
.img3{
    margin-top: 150px;
    display: inline-flex;
}
.text1,.three{
    margin-left: 600px;
}
#kite,#coin,#console{
    font-size: 30px;
    margin-bottom: 10px;
    font-style: calc();
}
#our,#the,#boy{
    font-size: 20px;
    font-style: calc();
}
#want{
    text-align: center;
    font-size: 20px;
    font-style: calc();
    margin-top: 100px;
}
.bottom{
    text-align: center;
    margin-top: 100px;
    font-style: calc();
    margin-bottom: 150px;
}
#universe{
    font-size: 35px;
}
#extend{
    font-size: larger;
    margin-top: 5px;
}
.three{
    margin-top: 100px;
    display: inline-flex;
}
.add{
    display: inline-flex;
    text-align: center;
    
 }
 #add1{
    margin-left: 160px;
 }
 #img1{
    margin-top: 30px;
    width: 150px;
    height: 60px;
    
 }
 #num{
    margin-left: 200px;
    margin-top: -10px;
 }
 #add{
    background-color: beige;
 }