.nav{display: flex;
justify-content: space-between;
}

img{
    height: 70px;
    width: 150px;
    
    margin-left:150px ;
}

.buttons{
    display: flex;
   justify-content: space-between;
    margin-top: 5px;
    margin-right: 120px;
    border: 0px;
     /* box-shadow: 10px 15px 20px blue;  */

    border-radius: 15px;
    padding: 10px 10px;
}

#bb{
    margin-right: 25px;
    background-color: aliceblue;
    border: 0px;
    justify-content: space-between;
}
#bb2{
     margin-right: 25px; 
    background-color: aliceblue;
    border: 0px;
    justify-content: space-between;
}
#bb3{
    justify-content: space-between;
    border: 0px;
    background-color: aliceblue;
    margin-right: 25px;
}
#bb4{
    margin-right: 25px;
    background-color: aliceblue;
    border: 0px;
    justify-content: space-between;
}
#bb5{
    margin-right: 25px;
    background-color: aliceblue;
    border: 0px;
    justify-content: space-between;
}

.background{
    margin-left: 200px;
    
}
.span{
    margin-left: 35px;
}
h1{
    font-size: x-large;
    margin-top: 30px;
    
}
h2{
    font-size: x-large;
    margin-top: 30px;
}
#p1{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 100px;

}
.title{
    display: inline-flex;
    
}
#search_bar{
    margin-top: 50px;
    width: 480px;
    height: 50px;
    margin: 0px;
    border: 0px;
}
#search{
    width: 80px;
    height: 50px;
    border: 0px;
    margin: 0px;
}
.s1,.s2{
    margin-left: 20px;
    
}

 .full{
    background-color: rgb(95, 95, 241);
     display: inline-flex; 
     margin-top: 30px;
    
 }
 .content2{
    margin-left: 80px;
    margin-right: 200px;
 }
 .log{
    margin-left: 300px;
    margin-top: 50px;
    font-style: calc();
    font-size: medium;
 }
 #some{
    line-height: 30px;
    font-style: calc();
    font-size: large;
    position: absolute;
 }
 .bottom1{
    display: inline-flexbox;
   position: absolute;
 }
 .con1{
    display: inline-flex;
    margin-left: 200px;
    margin-bottom: 150px;
 }
 #to{
    margin-top: 60px;
    margin-left: 200px;
    margin-bottom: 40px;
    font-size: 30px;
 }
 #your{
    margin-left: 160px;
 }
 #trade{
    margin-left: 40px;
 }
 .add{
    display: inline-flex;
    text-align: center;
    
 }
 #add1{
    margin-left: 160px;
 }
 #img1{
    margin-top: 30px;
    width: 150px;
    height: 60px;
    
 }
 #num{
    margin-left: 200px;
    margin-top: -10px;
 }
 .bottom2{
    display: inline-flex;
    margin-bottom: 80px;

 }
 #fund{
    margin-left: 200px;
 }
 #console{
    margin-left: 220px;
 }
 #coin{
    margin-left: 220px;
 }
 