img{
height: 40px;
width: 120px;
margin-left: 150px;

}
.nav{
display: flex;
    justify-content: space-between;
}

.buttons{
    display: flex;
   justify-content: space-between;
    margin-top: 5px;
    margin-right: 120px;
    border: 0px;
     /* box-shadow: 10px 15px 20px blue;  */

    border-radius: 15px;
    padding: 10px 10px;
    
}
#bb{
    margin-right: 25px;
    background-color: aliceblue;
    border: 0px;
    justify-content: space-between;

}

#bb1{
    margin-right: 25px;
    background-color: aliceblue;
    border: 0px;
    justify-content: space-between;
}
#bb2{
    margin-right: 25px;
    background-color: aliceblue;
    border: 0px;
    justify-content: space-between;
}
#bb3{
    margin-right: 25px;
    background-color: aliceblue;
    border: 0px;
    justify-content: space-between;
}
#bb4{
    margin-right: 25px;
    background-color: aliceblue;
    border: 0px;
    justify-content: space-between;
}
#bb5{
    margin-right: 25px;
    background-color: aliceblue;
    border: 0px;
    justify-content: space-between;
}


 

.invest{

text-align: center;
margin-top: 60px;

}

 #b1{

text-align: center;
background-color: rgb(21, 197, 197);
padding: 10px 40px;
font-size: 20px;
border-radius: 10px;
border: 0px;
margin-top: 10px;
margin-bottom: 150px;

 }


 #i1{
margin-top: 0px;
text-align: center;
justify-items: center;
margin-left: 35%;

height: 280px;
width: 380px;

 }

 h1{
    font-size: 50px;
    font-style: calc();
 }

 p{
   font-size: 20px;
   font-style: calc();

 }

 
.add{
    display: inline-flex;
    text-align: center;
    
 }
 #add1{
    margin-left: 160px;
 }
 #img1{
    margin-top: 30px;
    width: 150px;
    height: 60px;
    margin-left: 200px;
    
 }
 #num{
    margin-left: 200px;
    margin-top: 10px;
 }
 #add{
    background-color: beige;
 }